## CAR PRICE PREDICTION

With the covid 19 impact in the market, we have seen lot of changes in the car market. Now some 
cars are in demand hence making them costly and some are not in demand hence cheaper. One 
of our clients works with small traders, who sell used cars. With the change in market due to covid 
19 impact, our client is facing problems with their previous car price valuation machine learning 
models. So, they are looking for new machine learning models from new data. We have to make 
car price valuation model. This project contains two phaseData Collection Phase
You have to scrape at least 5000 used cars data. You can scrape more data as well, it’s up to you. 
more the data better the model

## Webscrapping

In this section You need to scrape the data of used cars from websites (Olx, cardekho, Cars24 
etc.) You need web scraping for this. You have to fetch data for different locations. The number of
columns for data doesn’t have limit, it’s up to you and your creativity. Generally, these columns are 
Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location and 
at last target variable Price of the car. This data is to give you a hint about important variables in 
used car model. You can make changes to it, you can add or you can remove some columns, it 
completely depends on the website from which you are fetching the data.
Try to include all types of cars in your data for example- SUV, Sedans, Coupe, minivan, 
Hatchback.

In [1]:
#let us import all the libraries
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

import time
import warnings
warnings.filterwarnings('ignore')

## Scraping data from Olx in Delhi

In [8]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.olx.in/delhi_g4058659/cars_c84')

In [13]:
brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]

In [10]:
#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []

#scrolling down to the webpage to load all the car details
for i in range(126):
    try:
        btn = driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(1)
        i+=1
    except NoSuchElementException as e:
        pass 
    
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//li[@class="_31j8e"]/a')

      
#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))

In [14]:
#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        brand.append(name.text.split(' ')[0])
        
    except NoSuchElementException as e:
        pass

    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        model.append(mdl.text.split(' ')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        YOM.append(year.text.replace(')','').split('(')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath('//div[2][@class="_1u27F"]')
        kms.append(km.text.split(' ')[0])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath('//div[1][@class="_1u27F"]')
        Fuel.append(ful.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath('//div[3][@class="_1u27F"]')
        transmission.append(trans.text)
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(var.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//div[1]/div[2]/div[2][@class="_1gasz"]')
        owners.append(ownr.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//*[@id="container"]/main/div/div/div/div[1]/div/ol/li[4]/a')
        Location.append(loc.text.split(' ')[2])
    except NoSuchElementException as e:
        pass
    
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        Price.append(pric.text.replace('₹',''))        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
olx_delhi = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
olx_delhi

485 485 485 485 485 485 485 485 485 485

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Hyundai,Elite,Sportz 1.2,2016,63840.0,PETROL,MANUAL,1st,Delhi,"5,50,000"
1,Mahindra,Xuv500,W6 2WD,2017,27000.0,--,AUTOMATIC,1st,Delhi,"12,00,000"
2,Maruti,Suzuki,1.2 Lxi BSIV,2012,70000,PETROL,MANUAL,Second,Delhi,"2,97,000"
3,Hyundai,I10,Others,2016,90000,CNG,MANUAL,First,Delhi,"1,50,000"
4,Mercedes-Benz,A,2013-2015 A180 CDI,2014,72000.0,DIESEL,AUTOMATIC,1st,Delhi,"9,90,000"
...,...,...,...,...,...,...,...,...,...,...
480,Maruti,Suzuki,Lxi,2010,52000.0,PETROL,MANUAL,1st,Delhi,"1,75,000"
481,Maruti,Suzuki,,2018,41000.0,PETROL,MANUAL,1st,Delhi,"3,25,000"
482,Maruti,Suzuki,VXI,2018,41000.0,PETROL,MANUAL,1st,Delhi,"3,25,000"
483,Maruti,Suzuki,1.0 VXi,2010,78000.0,CNG & HYBRIDS,MANUAL,2nd,Delhi,"1,35,000"
484,Land,Rover,TD4 SE 7S,2015,60000.0,DIESEL,AUTOMATIC,2nd,Delhi,"27,90,000"

## Scraping data from Olx in Maharastra state

In [16]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.olx.in/maharashtra_g2001163/cars_c84')

time.sleep(2)

brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]

#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []

#scrolling down to the webpage to load all the car details
for i in range(126):
    try:
        btn = driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(1)
        i+=1
    except NoSuchElementException as e:
        pass 
    
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//li[@class="_31j8e"]/a')

      
#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))
    
    
time.sleep(2)

#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        brand.append(name.text.split(' ')[0])
        
    except NoSuchElementException as e:
        pass

    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        model.append(mdl.text.split(' ')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        YOM.append(year.text.replace(')','').split('(')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath('//div[2][@class="_1u27F"]')
        kms.append(km.text.split(' ')[0])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath('//div[1][@class="_1u27F"]')
        Fuel.append(ful.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath('//div[3][@class="_1u27F"]')
        transmission.append(trans.text)
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(var.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//div[1]/div[2]/div[2][@class="_1gasz"]')
        owners.append(ownr.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//*[@id="container"]/main/div/div/div/div[1]/div/ol/li[4]/a')
        Location.append(loc.text.split(' ')[2])
    except NoSuchElementException as e:
        pass
    
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        Price.append(pric.text.replace('₹',''))        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
olx_maha = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
olx_maha

489 489 489 489 489 489 489 489 489 489

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Honda,City,i-VTEC V,2016,"41,000",PETROL,MANUAL,1st,Maharashtra,"6,75,000"
1,Mahindra,Tuv,T8 AMT,2016,55000.0,DIESEL,AUTOMATIC,1st,Maharashtra,"6,40,000"
2,Maruti,Suzuki,VXI,2013,82000.0,PETROL,MANUAL,1st,Maharashtra,"6,50,000"
3,Mercedes-Benz,E-Class,E250 CDI Elegance,2014,70476.0,DIESEL,AUTOMATIC,1st,Maharashtra,"18,90,000"
4,Volkswagen,Jetta,1.6 Trendline,2010,89000.0,PETROL,MANUAL,1st,Maharashtra,"2,95,000"
...,...,...,...,...,...,...,...,...,...,...
484,Mercedes-Benz,M-Class,ML 250 CDI,2014,97000.0,DIESEL,AUTOMATIC,1st,Maharashtra,"24,00,000"
485,Maruti,Suzuki,7 Seater Standard,2020,25182.0,CNG & HYBRIDS,MANUAL,1st,Maharashtra,"5,75,000"
486,Toyota,Innova,2.5 G (Diesel) 7 Seater,2009,199622.0,DIESEL,MANUAL,2nd,Maharashtra,"4,99,999"
487,Mahindra,Xylo,2009-2011 E8,2010,135000.0,DIESEL,MANUAL,2nd,Maharashtra,"3,50,000"
488,Tata,Others,,2012,80000.0,DIESEL,MANUAL,1st,Maharashtra,"1,75,000"

## Scraping data from Olx Karnataka state

In [17]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.olx.in/karnataka_g2001159/cars_c84')

time.sleep(2)

brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]

#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []

#scrolling down to the webpage to load all the car details
for i in range(126):
    try:
        btn = driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(1)
        i+=1
    except NoSuchElementException as e:
        pass 
    
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//li[@class="_31j8e"]/a')

      
#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))
    
    
time.sleep(2)

#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        brand.append(name.text.split(' ')[0])
        
    except NoSuchElementException as e:
        pass

    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        model.append(mdl.text.split(' ')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        YOM.append(year.text.replace(')','').split('(')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath('//div[2][@class="_1u27F"]')
        kms.append(km.text.split(' ')[0])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath('//div[1][@class="_1u27F"]')
        Fuel.append(ful.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath('//div[3][@class="_1u27F"]')
        transmission.append(trans.text)
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(var.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//div[1]/div[2]/div[2][@class="_1gasz"]')
        owners.append(ownr.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//*[@id="container"]/main/div/div/div/div[1]/div/ol/li[4]/a')
        Location.append(loc.text.split(' ')[2])
    except NoSuchElementException as e:
        pass
    
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        Price.append(pric.text.replace('₹',''))        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
olx_kar = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
olx_kar

490 490 490 490 490 490 490 490 490 490

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Volkswagen,Polo,GT TDI Sport Edition,2017,54660.0,DIESEL,MANUAL,1st,Karnataka,"8,25,000"
1,Maruti,Suzuki,VXi,2010,56000.0,PETROL,MANUAL,1st,Karnataka,"2,35,000"
2,Maruti,Suzuki,Tour,2019,50000.0,DIESEL,MANUAL,1st,Karnataka,"5,40,000"
3,Maruti,Suzuki,Others,2015,"196,039",DIESEL,MANUAL,1st,Karnataka,"3,20,000"
4,Maruti,Suzuki,VXI,2018,67000.0,--,MANUAL,1st,Karnataka,"6,25,000"
...,...,...,...,...,...,...,...,...,...,...
485,Honda,City,2003-2005 1.5 EXI,2003,108000.0,PETROL,MANUAL,2nd,Karnataka,"1,80,000"
486,Tata,Nano,2012-2015 LX,2012,"55,000",PETROL,MANUAL,1st,Karnataka,"90,000"
487,Maruti,Suzuki,2010-2012 LX BSIII,2009,"70,000",LPG,MANUAL,2nd,Karnataka,"1,65,000"
488,Maruti,Suzuki,LXI BS IV,2006,95000.0,PETROL,MANUAL,3rd,Karnataka,"1,69,000"
489,Mahindra,Bolero,ZLX,2013,110000.0,DIESEL,MANUAL,2nd,Karnataka,"5,25,000"

## Scraping data from Olx Tamil Nadu state

In [37]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.olx.in/tamil-nadu_g2001173/cars_c84')

time.sleep(2)

brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]

#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []

#scrolling down to the webpage to load all the car details
for i in range(126):
    try:
        btn = driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(1)
        i+=1
    except NoSuchElementException as e:
        pass 
    
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//li[@class="_31j8e"]/a')

      
#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))
    
    
time.sleep(2)

#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        brand.append(name.text.split(' ')[0])
        
    except NoSuchElementException as e:
        pass

    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        model.append(mdl.text.split(' ')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        YOM.append(year.text.replace(')','').split('(')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath('//div[2][@class="_1u27F"]')
        kms.append(km.text.split(' ')[0])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath('//div[1][@class="_1u27F"]')
        Fuel.append(ful.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath('//div[3][@class="_1u27F"]')
        transmission.append(trans.text)
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(var.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//div[1]/div[2]/div[2][@class="_1gasz"]')
        owners.append(ownr.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//*[@id="container"]/main/div/div/div/div[1]/div/ol/li[4]/a')
        Location.append(loc.text.split(' ')[2])
    except NoSuchElementException as e:
        pass
    
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        Price.append(pric.text.replace('₹',''))        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
olx_tamil = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
olx_tamil

500 500 500 500 500 500 500 500 500 500

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Tata,Nano,2012-2015 LX,2012,70000.0,PETROL,MANUAL,1st,Tamil,"85,000"
1,Volkswagen,Polo,1.2 MPI Highline,2016,47850.0,PETROL,MANUAL,1st,Tamil,"6,00,000"
2,Mahindra,Quanto,C8,2012,91000.0,DIESEL,MANUAL,2nd,Tamil,"3,85,000"
3,Maruti,Suzuki,VXI,2017,77000.0,PETROL,MANUAL,1st,Tamil,"3,25,000"
4,Maruti,Suzuki,2005-2010 LXi BSIII,2009,88000.0,PETROL,MANUAL,1st,Tamil,"2,05,000"
...,...,...,...,...,...,...,...,...,...,...
495,Chevrolet,Spark,1.0 LT,2012,80100.0,PETROL,MANUAL,2nd,Tamil,"1,35,000"
496,Mahindra,Xylo,2009-2011 E8,2011,100000.0,DIESEL,MANUAL,2nd,Tamil,"3,90,000"
497,Tata,Nano,Others,2012,69000.0,PETROL,MANUAL,1st,Tamil,"69,000"
498,Maruti,Suzuki,Others,2021,--,LPG,--,1st,Tamil,"1,00,000"
499,Maruti,Suzuki,VXi,2010,61000.0,PETROL,MANUAL,1st,Tamil,"2,48,000"

## Scraping the data from Olx Rajastan

In [39]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.olx.in/rajasthan_g2001171/cars_c84')

time.sleep(2)

brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]

#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []

#scrolling down to the webpage to load all the car details
for i in range(126):
    try:
        btn = driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(1)
        i+=1
    except NoSuchElementException as e:
        pass 
    
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//li[@class="_31j8e"]/a')

      
#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))
    
    
time.sleep(2)

#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        brand.append(name.text.split(' ')[0])
        
    except NoSuchElementException as e:
        pass

    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        model.append(mdl.text.split(' ')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        YOM.append(year.text.replace(')','').split('(')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath('//div[2][@class="_1u27F"]')
        kms.append(km.text.split(' ')[0])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath('//div[1][@class="_1u27F"]')
        Fuel.append(ful.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath('//div[3][@class="_1u27F"]')
        transmission.append(trans.text)
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(var.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//div[1]/div[2]/div[2][@class="_1gasz"]')
        owners.append(ownr.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//*[@id="container"]/main/div/div/div/div[1]/div/ol/li[4]/a')
        Location.append(loc.text.split(' ')[2])
    except NoSuchElementException as e:
        pass
    
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        Price.append(pric.text.replace('₹',''))        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
olx_rajastan = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
olx_rajastan

489 489 489 489 489 489 489 489 489 489

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Hyundai,I20,Petrol Asta,2020,22000.0,PETROL,MANUAL,1st,Rajasthan,"8,25,000"
1,Skoda,Yeti,Active 2.0 TDI CR 4x2,2012,90000.0,DIESEL,MANUAL,1st,Rajasthan,"4,40,000"
2,Ford,Figo,2010-2012 Diesel ZXI,2011,"60,000",PETROL,MANUAL,2nd,Rajasthan,"1,80,000"
3,Maruti,Suzuki,2010-2012 LXI BS IV,2012,"94,000",PETROL,MANUAL,2nd,Rajasthan,"2,40,000"
4,Maruti,Suzuki,2012-2015 VXI,2013,"105,000",PETROL,MANUAL,2nd,Rajasthan,"4,50,000"
...,...,...,...,...,...,...,...,...,...,...
484,Maruti,Suzuki,LXi,2012,"59,000",LPG,MANUAL,2nd,Rajasthan,"1,55,000"
485,Maruti,Suzuki,1.2 Sigma,2018,14000.0,PETROL,MANUAL,1st,Rajasthan,"5,70,000"
486,Maruti,Suzuki,EX BSII,2012,68000.0,PETROL,MANUAL,1st,Rajasthan,"1,05,000"
487,Toyota,Etios,1.4 GD,2013,65000.0,DIESEL,MANUAL,3rd,Rajasthan,"3,65,000"
488,Mahindra,Xuv500,W10 1.99 mHawk,2016,82000.0,DIESEL,MANUAL,1st,Rajasthan,"10,00,000"

## Scraping the data from Olx Kerala

In [46]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.olx.in/kerala_g2001160/cars_c84')

time.sleep(2)

brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]

#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []

#scrolling down to the webpage to load all the car details
for i in range(126):
    try:
        btn = driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(1)
        i+=1
    except NoSuchElementException as e:
        pass 
    
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//li[@class="_31j8e"]/a')

      
#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))
    
    
time.sleep(2)

#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        brand.append(name.text.split(' ')[0])
        
    except NoSuchElementException as e:
        pass

    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        model.append(mdl.text.split(' ')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath('//div[@class="_35xN1"]')
        YOM.append(year.text.replace(')','').split('(')[1])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath('//div[2][@class="_1u27F"]')
        kms.append(km.text.split(' ')[0])
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath('//div[1][@class="_1u27F"]')
        Fuel.append(ful.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath('//div[3][@class="_1u27F"]')
        transmission.append(trans.text)
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//div[@class="_3tLee"]')
        variant.append(var.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//div[1]/div[2]/div[2][@class="_1gasz"]')
        owners.append(ownr.text)
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//*[@id="container"]/main/div/div/div/div[1]/div/ol/li[4]/a')
        Location.append(loc.text.split(' ')[2])
    except NoSuchElementException as e:
        pass
    
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('//div[@class="_3FkyT"]')
        Price.append(pric.text.replace('₹',''))        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
olx_kerala = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
olx_kerala

495 495 495 495 495 495 495 495 495 495

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Mercedes-Benz,Cla,200 CDI Style,2015,79000.0,DIESEL,AUTOMATIC,1st,Kerala,"22,50,000"
1,Volkswagen,Tiguan,2.0 TDI Comfortline,2020,20000.0,DIESEL,AUTOMATIC,1st,Kerala,"30,00,000"
2,Jeep,Compass,2.0 Limited 4X4,2017,60000.0,DIESEL,MANUAL,1st,Kerala,"14,50,000"
3,Volkswagen,Jetta,Others,1985,"95,000",DIESEL,MANUAL,2nd,Kerala,"4,00,000"
4,Hyundai,Getz,1.3 GLS,2009,"69,500",PETROL,MANUAL,1st,Kerala,"1,38,000"
...,...,...,...,...,...,...,...,...,...,...
490,Maruti,Suzuki,Std,1996,1,PETROL,MANUAL,3rd,Kerala,"17,500"
491,Toyota,Qualis,FS B1,2001,132000.0,DIESEL,MANUAL,3rd,Kerala,"1,15,000"
492,Jaguar,Xj,L 3.0 V6 Portfolio,2014,82000.0,DIESEL,AUTOMATIC,1st,Kerala,"35,00,000"
493,Mahindra,Bolero,ZLX,2018,"42,750",DIESEL,MANUAL,2nd,Kerala,"8,30,000"
494,Maruti,Suzuki,Others,2003,"41,796",PETROL,MANUAL,2nd,Kerala,"43,000"

## Scraping data from Carwale delhi

In [35]:
#let us connect to the webdriver
driver = webdriver.Chrome(r"C:/Users/atoranga/Documents/chromedriver.exe")
driver.get('https://www.carwale.com/used/cars-for-sale/#sc=-1&so=-1&city=3001&pc=3001')
time.sleep(2)

#empty lists
brand= []
model = []
variant = []
YOM = []
kms = []
Fuel = []
owners = []
transmission = []
Location = []
Price =[]


#loading more number of car details
SCROLL_PAUSE_TIME = 0.5

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height
    
    
time.sleep(2)
#Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location, Price 
links = []
 
#collect the links from each car detail 
tag = driver.find_elements_by_xpath('//h2[@class="card-detail-block__title"]/a')

#fetching individual links of each car and fetch required details
for i in tag:
    links.append(i.get_attribute('href'))
    
    try:
        #scraping location of car        
        loc = driver.find_element_by_xpath('//span[@class="cityName vehicle-data__item"]')
        Location.append(loc.text)
         
    except NoSuchElementException as e:
        pass
                
time.sleep(2)
#first extract all tags where we have brand names
for i in links:
    driver.get(i) 
    try:
        #Scraping brand name
        name = driver.find_element_by_xpath("//ul[@class='special-skin-text']/li[4]/a/span")
        brand.append(name.text)
             
    except NoSuchElementException as e:
        pass
    
    try:  
        #scraping model name
        mdl = driver.find_element_by_xpath("//ul[@class='special-skin-text']/li[5]/a/span")
        model.append(mdl.text)
        
    except NoSuchElementException as e:
        pass
    
    try:     
        #scraping car variant     
        var = driver.find_element_by_xpath('//span[@class="font16 text-light-grey text-unbold margin-left10 special-skin-text"]')
        variant.append(var.text)
         
    except NoSuchElementException as e:
        pass
        
    try:
        #scraping year of manufacturing      
        year = driver.find_element_by_xpath("//ul[@class='basic-details']/li[1]/span[2]")
        YOM.append(year.text)
         
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping total kms driven
        km = driver.find_element_by_xpath("//ul[@class='basic-details']/li[2]/span[2]")
        kms.append(km.text)
         
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping fuel type of car        
        ful = driver.find_element_by_xpath("//ul[@class='basic-details']/li[3]/span[2]")
        Fuel.append(ful.text)
        
    except NoSuchElementException as e:
        pass
    
    try:
        #scraping transmission type of car
        trans = driver.find_element_by_xpath("//ul[@class='basic-details']/li[4]/span[2]")
        transmission.append(trans.text)
         
    except NoSuchElementException as e:
        pass
     
    try:
        #scraping number of owners        
        ownr = driver.find_element_by_xpath('//*[@id="overview"]/div/ul/li[9]/div[2]')
        owners.append(ownr.text)
         
    except NoSuchElementException as e:
        pass
    
       
    try:        
        #scraping price of car        
        pric = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[2]/div[2]/div/div[1]/div[1]/div/div[1]/p')
        Price.append(pric.text.replace('₹',' ').split(' ')[2]) 
        
        
    except NoSuchElementException as e:
        pass
    
    finally:
        pass
    
    
col =[brand,model,variant,YOM,kms,Fuel,owners,transmission,Location,Price]
for i in col:
    print(len(i), end=' ')
carwale_delhi = pd.DataFrame({'Brand':brand, 'Model':model, 'Variant':variant,'Year of Manufacture': YOM, 'Driven Kilometers':kms, 'Fuel type':Fuel,'Transmission Type':transmission, 'Number of Owners': owners,'Location':Location,'Price in Lakhs':Price})
carwale_delhi

247 247 247 247 247 247 247 247 247 247

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Maruti Suzuki,Ignis,Sigma 1.2 MT,Jun 2018,"17,272",Petrol,Manual,First,Noida,4.6
1,Maruti Suzuki,Celerio,VXi AMT,Jun 2014,"51,000",Petrol,Automatic,First,Noida,3.75
2,Audi,Q3,35 TDI quattro Premium Plus,Jun 2018,"34,000",Diesel,Automatic,Second,Noida,26.75
3,Maruti Suzuki,Wagon R,VXI AMT,Feb 2017,"55,085",Petrol,Automatic,First,Noida,4.45
4,Maruti Suzuki,Vitara Brezza,ZDi Plus,Mar 2016,"75,454",Diesel,Manual,Second,Noida,5.9
...,...,...,...,...,...,...,...,...,...,...
242,Maruti Suzuki,Swift,Lxi (O) [2014-2017],Jun 2016,"11,375",Petrol,Manual,First,Noida,4.9
243,Audi,Q3,35 TDI quattro Premium Plus,Jun 2018,"34,000",Diesel,Automatic,Second,Noida,26.75
244,MINI,Cooper S,1.6 High,Jun 2015,"20,000",Petrol,Automatic,First,Noida,25
245,Land Rover,Evoque,Pure SD4,Jun 2013,"50,000",Diesel,Automatic,Second,Noida,22.9
246,Maruti Suzuki,Baleno,Delta 1.2,Nov 2018,"36,619",Petrol,Manual,First,Noida,6.4

## Let us combine all the dataframes we have scraped into one.

In [50]:
all_car = pd.concat((olx_delhi,olx_maha,olx_kar,olx_tamil,olx_rajastan,olx_kerala,carwale_delhi),ignore_index=True)

In [54]:
#shuffling all the data and resetting the index

all_car = all_car.sample(frac=1).reset_index(drop=True)

In [58]:
# converting the dataframe to csv file

all_car.to_csv('car_details.csv', index=False)

In [57]:
all_car

,Brand,Model,Variant,Year of Manufacture,Driven Kilometers,Fuel type,Transmission Type,Number of Owners,Location,Price in Lakhs
0,Maruti,Suzuki,VDI,2007,80000.0,DIESEL,MANUAL,1st,Karnataka,"2,85,000"
1,Maruti,Suzuki,LXI Optional-O,2017,90000,CNG,MANUAL,Second,Rajasthan,"4,20,000"
2,Hyundai,Creta,1.6 SX Plus Auto,2017,33000.0,PETROL,AUTOMATIC,1st,Maharashtra,"10,85,000"
3,Honda,City,V CVT Petrol [2017-2019],Jan 2017,"24,546",Petrol,Automatic,First,Noida,8.04
4,Tata,Nano,2012-2015 Twist XE,2015,"26,000",PETROL,MANUAL,2nd,Kerala,"2,00,000"
...,...,...,...,...,...,...,...,...,...,...
3190,Toyota,Fortuner,4x2 AT,Jun 2013,"58,000",Diesel,Automatic,First,Noida,14.75
3191,Ford,Ecosport,Titanium 1.5 TDCi,Jan 2015,"46,053",Diesel,Manual,First,Noida,5.28
3192,Maruti,Suzuki,LXI,2011,82000.0,PETROL,MANUAL,1st,Maharashtra,"1,75,000"
3193,Maruti,Suzuki,LXI,2003,140000,PETROL,MANUAL,Fourth,Kerala,"56,000"
3194,Maruti,Suzuki,VXI,2018,41000.0,PETROL,MANUAL,1st,Delhi,"3,25,000"

In [2]:
all_car

NameError: name 'all_car' is not defined